[2017-04-09 10:42] DavidOndrus opened #2 "Init() throws TypeLoadException in new Xamarin.Forms"
Hi, I updated to the new version of Xamarin.Forms package and (probably) due to the Device class redesign, Init() now throws an exception in my SetUp() method in Unit tests. I've checked and in Init() method, PlatformServices are called but I can't figure out how to solve it by myself.

DETAILS:
`"Method 'get_RuntimePlatform' in type 'PlatformServices' from assembly 'Xamarin.Forms.Core.UnitTests,

[2017-04-13 18:05] jonathanpeppers commented on #2
Hi David,

Yes, Xamarin.Forms has changed an interface in 2.3.4.

I think I'll take a look tonight, but I think I could push a new version of Xamarin.Forms.Mocks that requires Xamarin.Forms 2.3.4+. If you need older than 2.3.4, you can use the existing NuGet package of Xamarin.Forms.Mocks.

It might actually make sense if I made the version of Xamarin.Forms.Mocks parallel with the version  number

[2017-04-15 00:34] #2 closed

[2017-04-15 00:35] jonathanpeppers commented on #2
@DavidOndrus let me know if 2.3.4.1 on NuGet fixes your issue.

[2017-04-15 07:35] DavidOndrus commented on #2
It works but I needed to downgrade Xamarin.Forms to the latest stable version (2.3.4.231) because it doesn't work on the latest prerelease (2.3.5.233-pre1).
Thank you for your time and this update.

[2017-04-15 15:06] jonathanpeppers commented on #2
I'll see what it takes to support 2.3.5 at some point, it is still a beta.

Sent from my phone

On Sat, Apr 15, 2017 at 2:35 AM -0500, "DavidOndrus" <notifications@github.com<mailto:notifications@github.com>> wrote:

It works but I needed to downgrade Xamarin.Forms to the latest stable version (2.3.4.231) because it doesn't work on the latest prerelease (2.3.5.233-pre1).
Thank you for your time an

[2017-05-03 14:12] lanarchyste opened #4 "Mock the new OnPlatform mechanism"
The new mechanism uses a class provided by the IoC implementing the IValueConverterProvider interface.

When I use the OnPlatform from the unit tests, the IValueConverterProvider implementation provided by DependencyService is always null.

Is it possible to update the code so that the DependencyService returns the correct implementation? Or at least be able to add our own implementation?

Thank y

[2017-05-03 15:00] jonathanpeppers commented on #4
Hi Julien,

Do you have a quick unit testing showing this is broken? I would like to add it to my test suite.

If I'm following correctly, I think there may be two things I need to look into:
1. Make sure `DependencyService` is testable
1. Make sure `IValueConverterProvider` is implemented if Xamarin.Forms depends on it internally

I have a few tests with `Device.RuntimePlatform` implementation, b

[2017-05-03 15:24] lanarchyste commented on #4
Here is an example of a unit test :

[code]
The result returns Color.Black (which is the default color) instead of returning Color.Red

I had the expected behavior by adding a static class in Xamarin.Forms.Mock.Xaml and adding the following code:

[code]

I think doing just that is enough.

[2017-05-05 11:57] #4 closed

[2017-08-03 13:04] michelmoorlag opened #7 "Xamarin Forms 2.3.5 support?"
I have a Xamarin Forms 2.3.4.247 solution with a unit tests project using Moq (https://www.nuget.org/packages/Moq/) version 4.7.99. and Xamarin.Forms.Mocks 2.3.4.3. All unit tests run fine.

After upgrading Xamarin Forms to version 2.3.5.256-pre6 I have rebuild my solution. Now when I try to run the unit tests in the ClassInitialize method on line "Xamarin.Forms.Mocks.MockForms.Init();" I get the

[2017-08-03 13:07] jonathanpeppers commented on #7
Hmm, I think this means they moved a namespace in 2.3.5:

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/IPlatformServices.cs#L9

I'll have to make a new release targeting 2.3.5. This is one of the dilemmas of this library: having to rely on internal Xamarin.Forms APIs.

I'll be able to look at this soon, but if you want to take a stab yourself, feel free. I'll help you th

[2017-08-04 08:41] michelmoorlag commented on #7
Hi Jonathan, thank you for your answer.
If you could take a look before XF 2.3.5 is stable that would be really nice.
I am a bit uncertain how and if I could fix this.

[2017-08-04 08:42] michelmoorlag commented on #7
Hi Jonathan, thank you for your answer.
If you could take a look before XF 2.3.5 is stable that would be really nice.
I am a bit uncertain how and if I could fix this.

[2017-08-04 08:46] michelmoorlag commented on #7
I pushed the wrong button :(
Reopened the issue

[2017-08-08 14:00] jonathanpeppers commented on #7
@michelmoorlag I put up a prerelease version supporting 2.3.5: https://www.nuget.org/packages/Xamarin.Forms.Mocks/2.3.5.1-pre6

Does it work for you?

[2017-08-08 14:17] michelmoorlag commented on #7
It certainly does, unit tests run like a charm with 2.3.5-pre6.
Thank you very much!

[2017-08-08 14:17] #7 closed

[2017-08-08 14:18] jonathanpeppers commented on #7
Ok, I'll put up a final stable package when Xamarin.Forms puts one up.

[2017-08-08 14:21] michelmoorlag commented on #7
Perfect!

[2017-09-27 07:45] albusorin opened #11 "Application.Current null"
Nice package!!!
But, sometimes is needed the Application.Current to set some resources and so on, but this is nulll

Thanks,
Sorin

[2017-09-27 09:20] albusorin commented on #11
One solution can be:
[code]

[2017-09-27 14:38] jonathanpeppers commented on #11
Hi @albusorin ,

So we are not doing anything with `Application.Current`, because a "mock" application doesn't help much.

You can do something like this in your own tests:
[code]

`MockForms.Init()` should probably not set `Application.Current` because you really want your own `Application` class with your `Resources` if that is what you are trying to test.

Does that make sense, or did I miss so

[2017-09-27 14:38] #11 closed

[2017-11-02 13:47] mesheets opened #14 "Support for Xamarin.Forms with .NET Standard"
With [Xamarin.Forms 2.4 now supporting .NET Standard 2.0](https://developer.xamarin.com/guides/xamarin-forms/under-the-hood/net-standard/), might a [.NET Standard 2.0](https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-standard-2-0/) NuGet package target also be planned for inclusion with Xamarin.Forms.Mocks?

The current latest NuGet package appears to only support the earlier PCL

[2017-11-02 15:04] jonathanpeppers commented on #14
Hi @mesheets,

Do you know what I actually need to change? Is it simply a matter of adding a new directory in the NuGet package?

Right now it's doing this: https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/blob/master/build.cake#L59

Is there a type of Xamarin.Forms project w/ .NET standard where Xamarin.Forms.Mocks isn't working?

[2017-11-02 17:43] mesheets commented on #14
Hello @jonathanpeppers,

Based on the .NET Standard [documentation](https://docs.microsoft.com/en-us/dotnet/standard/net-standard), .NET Standard is [described](https://docs.microsoft.com/en-us/dotnet/standard/net-standard#comparison-to-portable-class-libraries) as the "replacement" for Portable Class Libraries (PCLs).  With .NET Standard, it isn't really that Xamarin.Forms.Mocks isn't working, bu

[2017-11-02 18:07] jonathanpeppers commented on #14
Thanks for the detailed response,

What is an example of something that would be broken if I didn't change anything? Something like a .NET Core (or standard) unit test project?

The question becomes, why would you use that? Is there a reason to not use a .NET 4.5/4.6 (full framework) unit test project? If you are targeting Xamarin, it seems better to me to run your unit tests on Mono than .NET Cor

[2017-11-17 07:19] Ivan-L opened #15 "2.5.0 support"
Hi there,

Now that Xamarin.Forms 2.5.0 is out (as well as 2.5.0 SR 1), please would you possibly publish a new version of Xamarin.Forms.Mocks which supports 2.5.0?

Is the alternative to download the Xamarin.Forms.Mocks and Xamarin.Forms.Mocks.Xaml code and include it in the solution until the NuGet package is published?

Thanks!

[2017-11-17 13:06] jonathanpeppers commented on #15
Hi @Ivan-L,

Do you get an error if you _try_ using 2.5.0?

You can use the source, but there may be an API change that requires a code change in Mocks.

[2017-11-17 13:20] Ivan-L commented on #15
Yes, there were errors when I tried. After cloning your repository, upgrading to Xamarin.Forms 2.5.0 and trying to build it, it is `IPlatformServices.QuitApplication` which is not implemented and therefore the cause of the failure. I suppose they introduced this as part of MacOS support.

So for now, I am using the source with the extra method implemented which throws a `NotImplementedException` a

[2017-11-17 14:09] jonathanpeppers commented on #15
Ok, I'll put out an update soon, but feel free to send a PR of what you have if you have time, thanks!

[2017-11-18 19:49] Ivan-L commented on #15
Ok, I have opened #16 with the upgraded packages and implementation of `IPlatformServices.QuitApplication` which is up for discussion.

[2017-11-20 04:19] dagostinelli commented on #15
👍

[2017-11-20 13:17] jBijsterboschNL commented on #15
+1

Is there an ETA when this update will be available?

[2017-11-20 14:01] jonathanpeppers commented on #15
@Ivan-L @dagostinelli @jBijsterboschNL

I just pushed 2.5.0.1 to NuGet, let me know if you have any issues.

[2017-11-20 14:01] #15 closed

[2017-11-20 14:11] jBijsterboschNL commented on #15
Hi @jonathanpeppers, after updating, my unit tests are working again. Thanks for the quick fix. @Ivan-L thanks for your work as well!

[2017-11-22 16:18] 15mgm15 opened #17 "Correct way to mock Device.BeginInvokeOnMainThread"
Hello Jon, I am having a specific scenario where my unit test never ends it stays like in a weird limbo state, I am trying to test this method:

[code]
I am pretty sure that the problem is the `DeviceWrapper.BeginInvokeOnMainThread` because if I get rid of it my test passes normally. This is my unit test:

[code]
There may be some thread or race conditions involved because my unit test never retur

[2017-11-22 18:25] jonathanpeppers commented on #17
The problem I see with your test is that `ICommand.Execute` returns `void`.

How will the test know the task finished? In a past project, I had written my own `async` version of `ICommand`, but maybe it would be easier to have the test call `SendMessage` directly so it can `await` it?

The other option you could try is using Xamarin.Forms.Mocks from source, and change this [line](https://github.co

[2017-11-22 23:21] 15mgm15 commented on #17
Thanks for the suggestion Jonathan!

[2017-11-30 02:01] 15mgm15 commented on #17
Hello Jonathan!

Do you know a wat to mock a SQLiteConnection? `new SQLiteConnection(localFilePath);` I've tried `":memory:"` without any success. Or I am just going to in the wrong direction?

[2017-11-30 14:40] jonathanpeppers commented on #17
I generally would mock the database at a higher layer than what it sounds like you are trying.

So if you have an interface to represent your database (or could be a base/abstract class):
[code]

The "mock" one could basically do whatever you want:
[code]

The "real" one would use `SQLiteConnection` or whatever the real code needs to do.  Your ViewModels should only reference `IDatabase` so you ca

[2017-11-30 14:40] #17 closed

[2018-01-05 15:20] DevSharkOne opened #18 "Issue Subclassing Native Views in net standard library"
https://developer.xamarin.com/guides/xamarin-forms/platform-features/native-views/#Subclassing_Native_Views

Above sample do not run with net standard library for Xamarin Forms

Help please!

[2018-01-06 07:02] jonathanpeppers commented on #18
Hi @DevSharkOne ,

I added a unit test, and it is worked for me to write a unit test using native Xamarin.Forms views. See the referenced commit above.

1. Can you give some more details on your issue? What is the error you get?
1. Is this an issue with Xamarin.Forms.Mocks (this project), or Xamarin.Forms itself?

[2018-01-06 15:15] DevSharkOne commented on #18
Excuse me Jonathan you are right, it is Xamarin.Forms itself.
Basically the issue is:

### Description
I have changed my PCL project to a NetSantard Library and i am trying to implementing subclassing native views for using native controls in xamarin forms but i can not show the control and no error is showed.

### Steps to Reproduce

1.
![image](https://user-images.githubusercontent.com/35143072/

[2018-01-07 00:56] jonathanpeppers commented on #18
@DevSharkOne why are you posting this here exactly? Seems completely unrelated to Xamarin.Forms.Mocks...

If you think it's a bug, post here: https://github.com/xamarin/Xamarin.Forms/issues

If you think it's something you are doing wrong, ask a question on StackOverflow.com.

[2018-01-07 00:56] #18 closed

[2018-01-16 16:56] jonathan-jd4software opened #21 "Unhandled exception when Xaml page references StaticResource declared in App.xaml"
I have made use of StaticResource to declare page styles etc.  They are all defined in App.xaml.
I get an unhandled exception when running a unit test on a ViewModel that triggers navigation to the Page using the StaticResource

[ERROR] FATAL UNHANDLED EXCEPTION: Xamarin.Forms.Xaml.XamlParseException: Position 7:18. StaticResource not found for key stackLayoutStyle

[2018-01-16 17:53] jonathanpeppers commented on #21
Does your test create your App class and set Application.Current? Maybe in [SetUp]?

[2018-01-16 19:10] jonathan-jd4software commented on #21
Hi @jonathanpeppers,  no it doesn't.  I will make the necessary change and get back to you as soon as I can.  Thanks.

[2018-01-16 21:10] jonathanpeppers commented on #14
I'm going to close for now, anyone feel free to reopen if there is a good reason to port everything to .NET Standard.

[2018-01-16 21:10] #14 closed

[2018-01-17 09:10] jonathan-jd4software commented on #21
Thank you for your help @jonathanpeppers, that has fixed the exception issue.  Thanks :)

[2018-01-17 09:33] #21 closed

[2018-01-30 21:18] mesheets commented on #14
Microsoft's documentation states: ".NET Standard is the replacement for Portable Class Libraries (PCL)." With PCL going away and being replaced, a reason to upgrade to .NET Standard would be to continue to be able to use Xamarin.Forms.Mocks moving forward, as more projects adopt .NET Standard and deprecate older PCL versions.
* https://docs.microsoft.com/en-us/dotnet/standard/net-standard#comparis

[2018-02-01 14:49] JanNepras opened #22 ".Net Standard"
Would it be possible to port this nuget to .Net Standard?

[2018-02-01 15:27] jonathanpeppers commented on #22
Sure, is there something that isn’t working right because it is a PCL?

[2018-02-01 15:35] JanNepras commented on #22
I added this package to project "Unit Test Project (.NET Core)" and the Xamarin.Forms.Mock were unable to load.

[2018-02-01 15:56] jonathanpeppers commented on #22
Ok another question then,

Why is your unit test project .Net Core? If you have an iOS and Android app, would it be better for your tests to run on Mono (full framework)?

[2018-02-01 16:06] JanNepras commented on #22
This is the template in VS2017. Could you recommend me project template that works for VS2017?

[2018-02-02 07:11] jonathanpeppers commented on #22
`Class Library (.NET Framework)` and add the NuGet for NUnit, XUnit or whichever.

[2018-02-02 16:41] #22 closed

[2018-02-02 16:49] jonathanpeppers commented on #22
@JanNepras try Xamarin.Forms.Mocks 2.5.0.3 on NuGet.

[2018-02-02 16:51] jonathanpeppers commented on #14
@mesheets  try Xamarin.Forms.Mocks 2.5.0.3 on NuGet.

Just some open-source advice for the future: _in the time it took to write your detailed replies, you should have just send a PR instead!_

Even if you had trouble getting something to work, I would have gladly helped you through it.

[2018-02-06 09:02] abenedykt opened #24 "NotImplementedException when using UriImageSource"
I'm using Xamarin.Forms.Mocks ver 2.4.02 (due to the version of used Xamarin.Forms). I get
`
Message: System.TypeInitializationException :  'Xamarin.Forms.UriImageSource'.
---- System.NotImplementedException
`

The source of this issue is the usage of UriImageSource in one of the pages.

Having this in xaml:
`
<Image>
                <Image.Source>
                    <UriImageSource Uri="{Binding

[2018-02-11 04:52] jonathanpeppers commented on #24
Hi @abenedykt

I was able to repro your issue and implemented `IIsolatedStorageFile` in 2.5.0.4, I deployed to NuGet just now.

Unfortunately I haven't setup a way (or even planned on) supporting older versions like 2.4.x.

Is upgrading your version of Xamarin.Forms an option for that?

[2018-02-11 12:06] abenedykt commented on #24
Great :) unfortunetly I don't have an option to upgrade xamarin.forms - I
use server flow auth which does not want to work with newest xamarin.forms
Anyways it will help for the fututre. Maybe I'll be able to compile mi
local version for now.

On Sun, Feb 11, 2018 at 5:52 AM Jonathan Peppers <notifications@github.com>
wrote:

--
Twitter: @abenedykt
Telefon: +48 603 533 392
Blog: www.benedykt.net
F

[2018-02-15 22:17] acotterell1973 opened #26 "Support for UriImageSource"
I really love this library.. but I'm facing an issue where I cannot seem to use the ImageSource in the unit test. I get the following

    var image = new Image { Source = new Uri("http://xamarin.com/img.png") };

The type initializer for `Xamarin.Forms.UriImageSource` threw an exception.

Is this something you can add the support for?

[2018-02-16 00:15] jonathanpeppers commented on #26
Hi @acotterell1973 ,

Is this the same issue as #24? I put an update on NuGet that should resolve it, does version 2.5.0.4 fix your issue?

[2018-02-16 14:45] acotterell1973 commented on #26
Great. It’s the same issue. I had a problem upgrading. But the issue I believe is on my end. Once I figure it out. I will upgrade and try again. Thanks for the quick response.

Sent from my iPhone

[2018-02-16 17:51] jonathanpeppers commented on #26
Ok feel free to reopen if you find an issue!

[2018-02-16 17:51] #26 closed

[2018-03-21 17:08] dansiegel opened #27 "Mocks break with Xamarin Forms 3.0"
# Description

Xamarin Forms 3.0 present several breaking changes both for consuming apps and internal testing.

## Consuming App Breaks

- IsolatedStorageFile has been updated for netstandard2.0 to use System.IO FileMode, FileAccess, & FileShare.

## Internal Tests

- WinRT has been removed from Device
- Windows platform has been removed from Device
- Tizen has been added to Device
- macOS has be

[2018-03-23 21:39] #27 closed

[2018-10-08 14:45] dansiegel opened #29 "Add ability to update Forms Initialization"
# Description

Many generic tests may be fine with a Runtime Platform of "Test" and "Unsupported" Idiom. However, there may be times where a developer is running complex tests that require changing either the Idiom or Runtime Platform. The Device class currently has a hidden method for updating the Idiom, but since the RuntimePlatform comes from the IPlatformServices instance (which is an internal

[2018-10-09 22:04] jonathanpeppers commented on #29
@dansiegel trying to refresh myself with this codebase (been a while), are you saying multiple calls to `MockForms.Init` doesn't work?

There are some tests in this repo doing this: https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/blob/7cbc47bbb53078526389022b7cb3506b2cd90a46/Xamarin.Forms.Mocks.Tests/DeviceTests.cs#L28-L35

https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/blob/7cbc47b

[2018-10-09 22:52] dansiegel commented on #29
I've run into an issue where calling MockForms.Init() multiple times results in an exception with the DependencyService throwing an exception due to the services that get re-registered:

[code]

The way you're setting the Idiom btw is only possible because you have visibility into internals. Any consumers would have to call `SetIdiom`.

[2018-10-11 20:29] jonathanpeppers commented on #29
I am confused... @dansiegel can you send a test that shows it broken?

I tried #30, but it worked for me on Windows locally.

[2019-01-09 09:39] MarcosCobena opened #31 "Update for Xamarin.Forms 4.x-pre"
Hi there,

Just in case anyone working too with current XF pre-release gets the [PlatformServices.GetNativeSize()](https://github.com/xamarin/Xamarin.Forms/blob/505a855cad39322c8b235281d71c35b70c9df129/Xamarin.Forms.Core/IPlatformServices.cs#L38) method not found, we've updated this library here —haven't done a PR because feel it's somewhat temporary:

https://github.com/MarcosCobena/Xamarin.Forms

[2019-01-10 17:09] #31 closed

[2019-02-06 10:34] uwiedemann opened #34 "Compatibility with Xamarin Forms 3.5?"
Since the update to [Xamarin Forms 3.5](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/release-notes/3.5/3.5.0) there seems to be an issue with XF.Mocks (sorry for the German error message):

What in my interpretation means, that XF.Mocks does not find the implementation of GetNativeSize(), which was indeed [moved in XF 3.5](https://github.com/xamarin/Xamarin.Forms/pull/4235).

[2019-02-06 14:17] jonathanpeppers commented on #34
Looks like we addressed this in #33, but for Xamarin.Forms 4.0.

Sounds like I should:
- Target XF 3.5 instead, post a updated NuGet package
- Unlist the old one that depends on XF 4.0

[2019-02-14 06:31] memouwi commented on #34
Well, that would be great. 👍

[2019-02-15 22:44] #34 closed

[2019-02-15 22:51] jonathanpeppers commented on #34
Should be live soon: https://www.nuget.org/packages/Xamarin.Forms.Mocks/3.5.0

I unlisted the 4.0.0.0-pre version, as I think it won't be needed.

[2019-02-17 08:12] uwiedemann commented on #34
Thank you very much!

[2019-02-24 05:10] koenigm-seattleu opened #37 "Version 3.5.0.169047 Support"
Xamarin Forms version 3.5.0.169047 has the following error.  Downgrading forms to 3.5.0129 resolves the problem.

Message: System.TypeLoadException :
Method 'OpenFileAsync' in type 'Xamarin.Forms.Mocks.IsolatedStorageFile' from assembly 'Xamarin.Forms.Core.UnitTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.

[2019-02-25 21:42] jonathanpeppers commented on #37
@koenigm-seattleu I'm not able to reproduce this problem, it's working for me...

I'm not seeing changes to this interface that would cause this: https://github.com/xamarin/Xamarin.Forms/blob/6f5784a625fd2c2edfaa5ed5d4729f945b536238/Xamarin.Forms.Core/IIsolatedStorageFile.cs#L9-L19

Could you have had a mixture of Xamarin.Forms versions?

[2019-02-26 16:59] koenigm-seattleu commented on #37
No mixture of forms, I made sure all match.  I can send you a project as an example.  contact me offline.

[2019-02-26 17:01] jonathanpeppers commented on #37
You can email me at the address on my profile: https://github.com/jonathanpeppers

Was this on Windows? I tried to repro on Mac, and that is where I saw it working.

[2019-03-12 15:12] henrik-stromberg-tetrapak opened #38 "NUnit tests crash when updating to Xamarin.Forms 3.6 and Xamarin.Forms.Mocks 3.5"

[2019-03-12 15:14] henrik-stromberg-tetrapak commented on #38
I have a very simple viewCell with a trigger. like this.
<?xml version="1.0" encoding="UTF-8"?>
<ViewCell xmlns="http://xamarin.com/schemas/2014/forms"
          xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
          x:Class="UnitTestFailsApp.DataTemplates.SparePartViewCell"
          x:Name="this"
          IsEnabled="{Binding IsEnabled}"
          StyleId="none">

    <ViewCell.View>

[2019-03-15 03:25] jonathanpeppers commented on #38
@henrik-stromberg-tetrapak are you sure this is breaking in 3.5.x? What is the full version number of 3.5.x you saw this on?

I can see it with 3.6.0.220655, for sure.

[2019-03-15 03:53] #38 closed

[2019-03-20 20:20] jonathanpeppers commented on #38
@henrik-stromberg-tetrapak can you try: https://www.nuget.org/packages/Xamarin.Forms.Mocks/3.5.0.1

I just pushed it, but should be available shortly.

[2019-03-20 20:21] jonathanpeppers commented on #37
@koenigm-seattleu can your students try: https://www.nuget.org/packages/Xamarin.Forms.Mocks/3.5.0.1

I think the issue you saw here was probably #38 (they posted an example, and I could see the problem myself).

[2019-05-13 22:38] adamhill opened #40 "Finding external classes in MarkupExtensions Tests Failing"
I have a test for a MarkupExtension that is failing.

The code is:
[code]

Pretty much the example code from GH.

The error is:
[code]
My MarkupExtensions is not in the Test, but if I try and "Add Existing" with the class file to the UnitTest project, it does complain that there is already a class name that in the project. telling me the Reference to the main project is definitely getting picked u

[2019-05-28 18:58] #40 closed

[2019-05-28 19:00] jonathanpeppers commented on #40
@adamhill you can try the update here, until there is an update on NuGet: https://ci.appveyor.com/project/jonathanpeppers/xamarin-forms-mocks/builds/24873567/artifacts

[2019-06-04 17:28] #29 closed

[2019-06-04 17:29] #37 closed

[2019-06-04 18:37] koenigm-seattleu commented on #37
Hope all is well.  Did you work out the issue?

On Jun 4, 2019, at 10:29 AM, Jonathan Peppers <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #37<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjonathanpeppers%2FXamarin.Forms.Mocks%2Fissues%2F37&data=02%7C01%7Ckoenigm%40seattleu.edu%7C72b9e79b721d416026cd08d6e912228e%7Cbc10e052b01c48499967e

[2019-06-04 18:45] jonathanpeppers commented on #37
Yes, I think there were hitting #38

[2019-06-04 20:59] koenigm-seattleu commented on #37
If I recall from the students, it happened to those who were using standard rather than shared projects for the shared code.

On Jun 4, 2019, at 11:46 AM, Jonathan Peppers <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, I think there were hitting #38<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjonathanpeppers%2FXamarin.Forms.Mocks%2Fissue

[2019-06-14 13:36] MooVC opened #42 "Inconsistent Results for OpenUri Tests"
I have three XUnit tests, each residing within their own test class, that all use the OpenUriAction delegate to capture the Uri passed to Device.OpenUri.  When tested individually, each test passes without issue.  When tested together, only one of the three tests pass.  Each test class calls Init within the constructor, the expectation being that each would be run in isolation.  Can you please ind

[2019-06-14 14:35] jonathanpeppers commented on #42
Are these tests running in parallel?

The types in Xamarin.Forms are static -- so they are definitely going to collide if more than one is running.

[2019-06-14 14:57] MooVC commented on #42
Hi @jonathanpeppers,

Thank you for coming back on this so quickly.

As I understand it, XUnit generates an instance of each class and the tests contained within that instance are executed sequentially, but tests from another instances may be executed in parallel.  In this case, the tests reside in different classes and thus, I would expect them to run in parallel.  As an experiment, I merged the

[2019-06-14 15:09] jonathanpeppers commented on #42
Yeah all this stuff is `static`: https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/blob/31ed5a7b81c7cdef5f217ac84cb864342e2a1647/Xamarin.Forms.Mocks/MockForms.cs#L19-L24

Since Xamarin.Forms' implementation uses `static` classes, I don't know what we can do here 😞. I could see there being other strange problems running tests in parallel.

I have not used this library with XUnit myself. If you

[2019-06-14 15:09] #42 closed

[2019-06-14 15:11] MooVC commented on #42
Thanks @jonathanpeppers - Appreciate the help.

[2019-11-07 16:17] Boxer-Property opened #47 "Will this be updated for Xamarin 4.2?"

[2019-11-07 16:43] jonathanpeppers commented on #47
@Boxer-Property are you hitting a problem? can you post the error message?

I have been able to keep this library on 3.5.0.2, as it has been working on any Xamarin.Forms version 3.5 or higher. But if there is a bug, I want to fix it, thanks!

[2019-11-07 16:52] Boxer-Property commented on #47
I have an issue with the testing app.
The Plugin.DeviceInfo is throwing an exception. I have a class im calling that references this in that code file and it throws an exception.

Exception thrown: 'System.NotImplementedException' in Plugin.DeviceInfo.dll
Exception thrown: 'System.TypeInitializationException' in StemmonsMobile.UnitTests.dll
An exception of type 'System.TypeInitializationException'

[2019-11-07 16:54] Boxer-Property commented on #47
I'll try and create a test project, but I'm super busy today.

[2020-02-08 00:03] koenigm-seattleu opened #49 "MockForms.Init() having issue with MasterBehavior.Popover;"
I am adding coverage to the default example xamarin forms app to get as highest coverage as possible.  I noticed that the MainPage.xaml.cs has an issue even after having the UT call MockForms.Init().  I realize that the coverage of this file would not be high priority.

The issue is due to the call to MasterBehavior.

MasterBehavior = MasterBehavior.Popover;

Steps:
Run the New Project Template fo

[2020-02-09 20:50] jonathanpeppers commented on #49
@koenigm-seattleu it looks like I can reproduce the issue:
[code]

With just these 2 lines:
[code]

It looks like Xamarin.Forms.Mocks needs to set `Device.Info` and it's never done that?

[2020-02-09 21:06] jonathanpeppers commented on #47
@Boxer-Property it looks like you are using this plugin, which is where the exception occurs: https://github.com/jamesmontemagno/DeviceInfoPlugin

I would guess that a reference assembly is being used here, and it always throws `NotImplementedException` if you tried to use it from unit tests.

Maybe a more appropriate solution going forward would be for Xamarin.Forms.Mocks also to support Xamarin.

[2020-02-09 21:08] #49 closed

[2020-02-09 21:44] jonathanpeppers commented on #49
Try the update and let me know, thanks. It should be live shortly:

https://www.nuget.org/packages/Xamarin.Forms.Mocks/3.5.0.3

[2020-02-10 02:38] koenigm-seattleu commented on #49
I will try.

Ran into a VS problem that is blocking me.  I can't get any output for code coverage in VS 19 enterprise with previous projects, or a new projects.  I did a full VS repair which did not fix the issue.

Test pass when run in test explorer, but CC gives 0 blocks covered with "Empty results generated: No binaries were instrumented. Make sure the tests ran, required binaries were loaded,

[2020-02-10 03:25] koenigm-seattleu commented on #49
Figured out the CC issue in VS.  Turns out the Microsoft.Net.Test.SDK version 16.3 and higher fail to generate CC results, downgrading to 16.2.0 works.

Thanks for the update to the package.  I will continue to add tests to the project, and will post issues if I come across them.

[2020-04-07 20:53] VladislavAntonyuk opened #51 "Unable to use with XF version 4.7"
Message:
    System.TypeLoadException : Method 'GetHash' in type 'Xamarin.Forms.Mocks.PlatformServices' from assembly 'Xamarin.Forms.Core.UnitTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.
  Stack Trace:
    MockForms.Init(String runtimePlatform, TargetIdiom idiom)

[2020-04-08 15:36] VladislavAntonyuk commented on #51
Yes, I am verified it on nightly build

[2020-04-08 15:58] jonathanpeppers commented on #51
@VladislavAntonyuk if you want to ping me when there is a preview on nuget.org, I'll look into this.

I don't want to fix something on a nightly build, they may yet change it before there is a preview.

[2020-04-08 16:04] VladislavAntonyuk commented on #51
Ok, I think 4.7 pre1 will be released in a month

[2020-04-29 17:39] dansiegel commented on #51
the nightly's generally run a minor version ahead of what the actual release version is... 4.6 that was released an hour ago has some breaks

[2020-04-29 18:55] VladislavAntonyuk commented on #51
@jonathanpeppers 4.6 is released, could you please take a look how it breaks XF.Mocks

[2020-04-29 20:46] #51 closed

[2020-04-30 06:43] chowarth commented on #47
Would it not be better to use [Xamarin.Essentials.Interfaces](https://github.com/rdavisau/essential-interfaces) and [Moq](https://github.com/Moq/moq4/wiki/Quickstart) when writing unit tests so that you can mock out anything you need relating to Xamarin.Essentials?

With the Xamarin.Essentials classes being static, and taking advantage of switch-and-bait, you will never get the platform (iOS/Andro

[2020-04-30 16:04] Hottemax opened #53 "MockForms.Init() fails after upgrading to Xamarin.Forms 4.6.0"
Message:
The unit tests were working fine before the upgrade. I had the line
`Xamarin.Forms.Mocks.MockForms.Init();` in my test base class constructor. After upgrading my main Xamarin.Forms PCL project to Forms 4.6.0, I get the following exception on all my tests that use this constructor:

[2020-04-30 16:28] Hottemax commented on #53
Ok I just saw this mentioned in the pull request
https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/pull/52 .  Sorry, I was just looking at the filter with open issues, which was empty.
So I assume this will be fixed when the nuget is released?

Thanks for your work & Best regards

[2020-04-30 16:28] #53 closed

[2020-04-30 23:23] mjfreelancing opened #54 "Unable to use Entry.IsFocused in tests"
The IsFocused property of Entry appears to be set via its renderer. I've been unable to work out how we can mock the Entry control so IsFocused returns true after calling Focus().

[code]

I'm hoping you've got some ideas on how this might be achieved.

[2020-05-01 13:37] jonathanpeppers commented on #54
I think you would have to subscribe to `FocusChangeRequested`:

https://github.com/xamarin/Xamarin.Forms/blob/5a8858277ad381d055cdcb0fa6634bfc684c30b1/Xamarin.Forms.Core/VisualElement.cs#L626-L637

Then do:
[code]

I don't know how Xamarin.Forms.Mocks would do it in an automated way, but you could set that up in your test.

In the end, it could make the test above pointless, because you're just te

[2020-05-01 23:17] mjfreelancing commented on #54
Thanks, I'll take a look. Yes, my actual test is for a behavior that relies on the Entry having focus. My snippet was only for example purposes.

[2020-05-01 23:20] mjfreelancing commented on #54
The call to SetValue() is so obvious now, I hadn't even considered that. I can simply call this instead of Focus() for my behavior testing needs. Thanks again.

[2020-05-01 23:34] mjfreelancing commented on #54
I spoke too soon. The property is defined readonly.

[2020-05-02 00:19] mjfreelancing commented on #54
I solved the problem using this in place of calling Focus() on the Entry control

[code]

Your idea of using SetValue() put me on the right path.

[2020-05-02 00:41] #54 closed

[2020-05-02 20:31] VladislavAntonyuk commented on #51
@jonathanpeppers The issue is still reproduced:
 Message:
    System.TypeLoadException : Method 'GetHash' in type 'Xamarin.Forms.Mocks.PlatformServices' from assembly 'Xamarin.Forms.Core.UnitTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.
  Stack Trace:
    MockForms.Init(String runtimePlatform, TargetIdiom idiom, OSAppTheme requestedTheme)

[2020-05-08 08:18] SeRgI1982 opened #56 "Method 'GetNamedColor' does not have an implementation."
Hi,

I have noticed that my UnitTests  stopped working because of that:

System.TypeLoadException : Method 'GetNamedColor' in type 'Xamarin.Forms.Mocks.PlatformServices' from assembly 'Xamarin.Forms.Core.UnitTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.

Xamarin.Forms is in a version 4.6.0.726

![Screenshot 2020-05-08 at 10 14 55](https://user-image

[2020-05-08 14:03] jonathanpeppers commented on #56
Are you using? https://www.nuget.org/packages/Xamarin.Forms.Mocks/4.6.0.1

This should have been fixed by: https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/pull/52

[2020-05-08 14:12] SeRgI1982 commented on #56
Sorry, my fault.
I guess that I had problem with connection to NuGet server because there wasn't a notification icon about the latest version. Now, after updating to the latest version, everything works great :)

[2020-05-08 14:12] #56 closed

[2020-05-08 14:17] jonathanpeppers commented on #56
I forgot to publish this release on Github, so hopefully will be easier to spot next time, thanks!

https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/releases/tag/4.6.0.1

[2020-06-18 00:09] LeoJHarris opened #57 "No test matches the given testcase filter `FullyQualifiedName =????` - Latest XF and Mocks"
I'm not sure exactly where the issue lay on this, whether NUnit, Xamarin.Forms or this project but when use latest Xamarin.Forms Version 4.7 and the pre-release of this project 4.7 I simply cannot get the tests to run with the error:

No test matches the given testcase filter 'FullyQualifiedName=????'

When I downgrade back to Xamarin.Forms 4.6 and Xamairn.Forms.Mocks 4.6 then the unit tests run a

[2020-06-18 00:13] LeoJHarris commented on #57
Closing for now might be an unrelated issue. Still investigating.

[2020-06-18 15:58] jonathanpeppers commented on #57
@LeoJHarris when I have seen this issue before, I have either:

* Added `NUnit3TestAdapter`, it was missing
* Update any NUnit NuGet packages to latest

Either way, I don't think Xamarin.Forms.Mocks would be able to break Visual Studio's test runner. You should try an empty test like `[Test] public void Foo() { }` and see if that works.

[2020-06-18 22:05] LeoJHarris commented on #57
Ive got all of that included in my project:

![Capture2](https://user-images.githubusercontent.com/5468757/85076310-fbfce880-b213-11ea-97c8-590a72cef54f.PNG)
![Capture](https://user-images.githubusercontent.com/5468757/85076311-fd2e1580-b213-11ea-860f-a323aa57f468.PNG)

Its kinda random, if I hit the run all tests then the issue is described below in the `Tests` output window:

[code]

[2020-06-18 22:05] LeoJHarris commented on #57
I thought I got the issue resolved when I downgraded this libary and Xamarin.Forms but issue came back again.

[2020-06-19 13:24] jonathanpeppers commented on #57
If you could find a way to get it to log more information about:
[code]
Is it because the file doesn't exist? Or it had a problem loading some other assembly it depends on?

I would file a feedback in Visual Studio, they might be able to give more help there if it gets to the right person.

[2020-07-05 23:36] koenigm-seattleu opened #58 "Update for Xamarin.Forms 4.7.0.1080"
Can you release an update for the latest xamarin forms?

[2020-07-07 15:03] #58 closed

[2020-07-07 19:11] jonathanpeppers commented on #58
This should be available shortly: https://www.nuget.org/packages/Xamarin.Forms.Mocks/4.7.0.1

[2020-07-11 14:56] koenigm-seattleu commented on #58
Works, thanks !!

[2020-08-06 03:23] LeoJHarris commented on #57
Coming back to an old post, tried on another project, same issue and the file does exist:

![Capture](https://user-images.githubusercontent.com/5468757/89486967-5e2ba000-d7f8-11ea-99d1-242cb9e5e724.PNG)

Attached below are Logging TestHost Diagnostics:

[logs.host.20-08-06_15-13-22_31658_25.txt](https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/files/5032346/logs.host.20-08-06_15-13-22_31658_

[2020-08-06 03:23] #57 closed

[2020-08-07 00:26] LeoJHarris commented on #57
I actualy wonder now if the reason my tests couldnt be run was because my project was throwing a runtime exception in the app.cs class which I wasnt aware of, although I was still able to compile the project?

[2020-08-07 02:22] LeoJHarris commented on #57
Nope above doesnt explain the issue, kinda random again.

[2020-10-09 19:19] davidaramant opened #60 "4.8 version coming?"
Is this library still being maintained? We're getting a lot of random exceptions using this in a project with Forms 4.8 that all seem to be threading race conditions.

[2020-10-10 21:03] jonathanpeppers commented on #60
I think a better description would be that it is "done". Fixes are only needed when Xamarin.Forms changes. This library relies on a few private APIs, so it can break when newer Xamarin.Forms versions come out.

Can you post the stack trace? Better yet, can you reproduce the problem in the [unit test project](https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/tree/master/Xamarin.Forms.Mocks.Tes

[2020-10-12 17:01] davidaramant commented on #60
One issue is that setting there seems to be a race condition for setting the idiom.  Any test with a call like `MockForms.Init("Test", TargetIdiom.Phone);` will sporadically fail because it's using the wrong idiom.  The code under test is calling `Device.Idiom == TargetIdiom.Phone` and sometimes that check is false.

Here is a stack trace from a recent crash.  Again, very sporadic failures.  If yo

[2020-10-12 17:56] jonathanpeppers commented on #60
The value for `TargetIdiom` is just a static field:

https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/blob/35a55d2d314db760c7e4fed2e6b8671e010aaa44/Xamarin.Forms.Mocks/MockForms.cs#L20

You can't expect to set it to different values on different threads and assert against its value?

Same with the other error, it seems to be calling the static `Application.MainPage` on two different threads:

[2020-10-12 18:09] davidaramant commented on #60
We're not explicitly launching any new threads in the tests so it must be XUnit's default behavior of running all the test classes in parallel.  The idiom stuff makes perfect sense - another test class must be setting a different `Idiom` at the same time.  Wrapping the idiom stuff in a mockable interface seems like an easy fix for that issue.

I think we can fix the other issues with XUnit test ca

[2020-10-12 18:09] #60 closed

[2020-10-22 07:42] JulesMoorhouse opened #62 "FAILED Base Setup Failed: Method 'GetHash' in type 'Xamarin.Forms.Mocks.PlatformServices' from assembly 'Xamarin.Forms.Core.UnitTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation."
I'm getting a lot unit tests failing with this error... I can't say if it's a recent issue, as I'm new to the project. Can anyone give me some guidance on this please ?

[code]

[2020-10-22 13:24] jonathanpeppers commented on #62
`GetHash` was added in Xamarin.Forms 4.7. Do you have at least Xamarin.Forms.Mocks 4.7.0.1?

[2020-10-22 13:57] JulesMoorhouse commented on #62
I have Xamarin.Forms 4.8.0.1451 and Xamarin.Forms.Mocks 3.5.0.3...

So that must be the problem 👍

[2020-10-22 13:57] #62 closed

[2020-10-23 23:46] LittleCornerDev opened #63 "New Issue with Application.Current.MainPage.DisplayAlert()?"
This documented usage of testing `Application.Current` used to work:

[code]

With latest version of Xamarin.Forms 4.8.0.1560 (only caught it now, not sure if it happened at earlier version), it seems to no longer be sufficient and causes the error:
[code]
from a line that calls `Application.Current.MainPage.DisplayAlert()`.

Do we need to mock out `Application.Current` in a new way?  The `Applica

[2020-10-26 13:45] jonathanpeppers commented on #63
What is the stack trace for this? You should see a list of method names, and maybe line numbers?

Are your tests running in parallel like in https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/issues/60#issuecomment-707264326? That won't work because of the way Xamarin.Forms APIs use static variables.

[2020-10-27 20:02] LittleCornerDev commented on #63
I do not know if the tests have been running in parallel this whole time.  I just know `dotnet` wasn't crashing before.

As previously mentioned the crash happens on the line in code where `DisplayAlert()` is called, but here is the stack trace:

[code]

I will investigate further to see if I can isolate the error further and provide more info.

[2020-10-27 20:27] jonathanpeppers commented on #63
Your example shows that either `Current` or `MainPage` is null.

What test framework are you using, and how are you running these tests? `dotnet test`?

[2020-10-27 21:23] LittleCornerDev commented on #63
Yes, using `dotnet test` (via a Custom Command) to run the nUnit test project automatically when doing a Debug/Release build on the Xamarin.Forms project.

Setting `Application.Current = new App();` as per `Xamarin.Forms.Mocks` documentation.

[2020-10-27 21:30] jonathanpeppers commented on #63
Did you try something like this to see if it's caused by tests running in parallel?

https://github.com/nunit/nunit3-vs-adapter/issues/657#issuecomment-564313415

[2020-10-27 22:03] LittleCornerDev commented on #63
As per suggestion, just ran `dotnet test -p:BuildInParallel=false <UNIT TEST PROJECT NAME>.csproj`, but it unfortunately had the same error.

The same error also happens when running the unit test project from Visual Studio's run/build button.  Commenting out that DisplayAlert() line runs all the tests successfully again.

[2020-10-28 00:47] LittleCornerDev commented on #63
Ran every test one by one and found the unit test that's specifically causing the issue.  Commenting it out also makes all tests run fine.  It was recently moved from another file, so I think this is an issue with how the unit test was refactored and not `Xamarin.Forms.Mocks`.  Thanks for all your assistance!  Closing this inquiry.

[2020-10-28 00:47] #63 closed

[2020-11-11 23:44] mced76 opened #64 "unable to load skiasharp assemblies"
Hello,

In my Xamarin project, I have microcharts component which reference skiasharp assembly.

When I launch the unit test, App.init crash in the form creator "Could not load file or assembly 'SkiaSharp.Views.Forms, Version=2.80.0.0, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.\n"
The skiasharp is here but I think that no plateform is defined in unit test and

[2020-11-12 14:10] jonathanpeppers commented on #64
Can you share the code for the test that's failing?

Or one better, can you add a new `SkiaSharpTests` that shows the problem in the project here:

https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/tree/master/Xamarin.Forms.Mocks.Tests

Thanks!

[2020-11-25 23:00] mced76 commented on #64
Sorry, I was very busy last week. I have added the Skiasharp Test in the project.

Thanks!

[2020-12-01 22:52] jonathanpeppers commented on #64
If you go here and download the `.nupkg` file:

https://www.nuget.org/packages/SkiaSharp.Views.Forms/2.80.2

There is no `SkiaSharp.Views.Forms.dll` that would work in a unit test project:

![image](https://user-images.githubusercontent.com/840039/100806074-7356bb00-33f5-11eb-8ccb-af24de17fa3c.png)

We would need a `net462` assembly or something for this to work in unit tests... This folder is emp

[2021-01-04 08:09] CarloBauer opened #66 "Support for Xamarin.Essentials"
I have VersionTracking enabled on my App and want to initialize it as described in your README.md,after this i get an 'System.TypeInitializationException' in Xamarin.Essentials.dll. So it could be an Issue but mainly it is an Question:
Does this Library Works with Xamarin.Essentials? Thanks in advance.

[2021-01-04 10:06] CarloBauer commented on #66
Nevermind Xamarin.Essentials doesnt support Unit-Testing directly.

[2021-01-04 10:06] #66 closed

[2021-01-04 14:13] jonathanpeppers commented on #66
Yeah if I download: https://www.nuget.org/packages/Xamarin.Essentials/1.6.0

There is a netstandard assembly that does this everywhere:

[code]

If you need to test Xamarin.Essentials, it would probably be easiest to put all interactions with XE in its own class so you can have a mock version for unit tests. There might also be a mocking library (like Moq) that works with XE, I'm not sure.

[2021-02-17 09:04] tomkecy opened #68 "Add Xamarin.Forms 5 support"
Hi,
I've updated my Xamarin project to Xamarin.Froms 5.0.0.2012 and it seems that Xamarin.Forms.Mocks doesn't support it. Would it be possible to add such support to Xamarin.Forms.Mocks?

Thanks!

[2021-02-17 15:57] jonathanpeppers commented on #68
Can you share the error message you get? Exception message & stack trace?

[2021-03-22 08:32] JanettHolst290490 commented on #64
Is there a workaround ? I just need the CodeBehind to work, not the actual Xaml elements.

[2021-03-22 13:24] jonathanpeppers commented on #64
If the error is: `"Could not load file or assembly 'SkiaSharp.Views.Forms, Version=2.80.0.0, Culture=neutral, PublicKeyToken=null'.`

You could try unzipping the `.nupkg` and referencing the netstandard2.0 assembly directly. If anything calls into it, you'll hit a `NotImplementedException`, though.

So I'm not sure how useful this workaround would actually be.

[2021-04-09 23:02] jonathanpeppers commented on #68
Closing for now, let me know if you can share more info.

I made the README a bit clearer showing that future versions of Xamarin.Forms will probably work (until they don't 😄):

![image](https://user-images.githubusercontent.com/840039/114248623-ba355e00-995d-11eb-9612-d40ef99c1350.png)

[2021-04-09 23:02] #68 closed

[2021-04-13 19:01] mikekirby opened #70 "Asserting Height and Width Properties of VisualElements inside of Layouts returns -1"
I want to write unit tests that can assert on UI properties that are calculated when they are added to pages with various layouts. Is this possible with XF.Mocks? I found example unit tests in XF that assert on these properties, but the layout needed "IsPlatformEnabled = true" and a call to Layout(new Rectangle(0,0,200,200)) to set an artificial screen size.

see: [StackLayoutUnitTests](https://gi

[2021-04-13 22:12] jonathanpeppers commented on #70
I think you probably need to call `Measure (double.MaxValue, double.MaxValue)` on one of the views.

Such as:

https://github.com/jonathanpeppers/Xamarin.Forms.Benchmarks/blob/0943ba0a9c3fca9468184671afc9ca96c051696f/Xamarin.Forms.Benchmarks/Benchmarks/Layouts.cs#L33-L53

I'll try to get a better example later, but let me know if you get it to work.

[2021-04-13 23:04] mikekirby commented on #70
Thanks for the quick response. I think there is a misunderstanding. I was expecting something to trigger an event to set the height and width of all the visual elements in a layout, as if it were rendered.

[2021-04-14 03:14] mikekirby commented on #70
Here is what I have that appears update the visual elements, but I don't think it is suitable for production code, see "IsPlatformEnabled=true"

[code]

[2021-04-14 03:45] jonathanpeppers commented on #70
I think your test can be simplified to something like:
[code]

I think `IsPlatformEnabled` is the trick, and you can set it on the `View` you are asserting against?

[2021-04-14 04:33] mikekirby commented on #70
Thank you for the simplifications, I updated the example to keep things simple and remove unnecessary code.

In testing a ContentPage it appears to require the Content and all the logical children to have the IsPlatformEnabled set "true".

I wrote a hack that does this, but ideally we'd have a Mock platform so that the view classes can do their own IsPlatformEnabled=true on the RendererProperty ch

[2021-04-14 13:35] jonathanpeppers commented on #70
@mikekirby unfortunately, I don't see a global place that Xamarin.Forms.Mocks could set `IsPlatformEnabled` automatically...

It seems like they set it in each renderer:

* https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e176d196e17/Xamarin.Forms.Platform.Android/Cells/ViewCellRenderer.cs#L46
* https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e1

[2021-04-14 14:10] mikekirby commented on #70
I agree, but I am happy to have found how to clear some initial hurdles and learn something more about Xamarin.Forms in the process. Thanks @jonathanpeppers!

[2021-04-14 14:10] #70 closed, assigned to nobody

[2021-04-20 16:21] Axel3232 opened #71 "Navigation with AppShell for Xamarin Forms 5"
Hi

Looks like the navigation is broken with the new AppShell for Xamarin Forms 5.
When navigating from a viewModel using : `await Shell.Current.GoToAsync("///main");`

the `MainPage.Navigation.NavigationStack` has only one item but with null value.

Thank you anyway for your great work !

[2021-04-20 19:10] jonathanpeppers commented on #71
I've not tried testing shell navigation. Could you share an example test?

Or better yet, if you sent a pull request that adds a test to this project here:

https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/tree/master/Xamarin.Forms.Mocks.Tests

Thanks!

[2021-04-21 17:04] Axel3232 commented on #71
Ok after some test I realized that the problem was on  my side, so you can close the issue ;)

[2021-04-21 17:07] #71 closed, assigned to nobody

[2021-11-03 08:02] AlexeyStarkov opened #73 "ArgumentNullException: Value cannot be mull. (Parameter 'targetObject')"
Hello. I try to create unit tests for my custom control which uses style from Application.Current.Resources.MergedDictionaries. Everything works fine when I launch my application, but when I try to test the control using Xamarin.Forms.Mocks I get an exception during InitializeComponent() call of the control under test.
**Message**: Value cannot be null. (Parameter 'targetObject')
**Stack trace**:

[2021-11-03 11:34] jonathanpeppers commented on #73
Can you make a quick example of a test that fails? We can fix this and add your test to the suite.

[2021-11-08 13:38] AlexeyStarkov commented on #73
Sorry for that. I've found a bug in one of styles of my application.

[2021-11-08 13:38] #73 closed, assigned to nobody

[2022-02-04 11:06] Miamy opened #74 "Exception in InitializeComponent() Application's method"
In my test module I have:
[code]
and in App.xaml.cs I have:
[code]
During executing the exception is raised:
_An unhandled exception of type 'System.FieldAccessException' occurred in System.Private.CoreLib.dll
Attempt by method 'MyApp.App.InitializeComponent()' to access field 'Xamarin.Forms.FontElement.FontFamilyProperty_

I'm using XF 5.0.0.2337 and Xamarin.Forms.Mocks 4.7.0.1. The Prism fraimwo

[2022-02-05 05:20] jonathanpeppers commented on #74
Are you able to make an example test that fails in the same way?

We could add one to the tests here:

https://github.com/jonathanpeppers/Xamarin.Forms.Mocks/blob/master/Xamarin.Forms.Mocks.Tests/ApplicationTests.cs

[2022-02-07 10:02] Miamy commented on #74
Unfortunately, I couldn't reproduce this issue on the test project. Maybe, it caused by some third-party package. I'll let you know if some new info will appear.

[2022-02-26 06:52] adamhill opened #75 "Bump to XF 5.0"
Any chance of  this happening before Maui release?

[2022-02-27 23:54] jonathanpeppers commented on #75
Are you hitting an issue using Xamarin.Forms 5? I normally don’t update this package if it continues to work.